<?xml version="1.0"?>
<model>
  <name>pepper_camera</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Yulia Grushetskaya</name>
   <email>grushety@hu-berlin.de</email>
  </author>

  <description>
    A box with camera for Pepper left arm
  </description>
</model>


